# Supabase Database URL (Connection Pooler IPv4)
# Reemplaza la contraseña si la cambias en el futuro (codificando caracteres especiales, ej. @ -> %40)
DATABASE_URL="postgresql://postgres.jganrtlerhadiluqjguy:mathlingo123%40@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

# JWT Secret para autenticación
JWT_SECRET="mathlingo_secret_key_change_in_production_2026"
NODE_ENV="development"
